ss
.menu{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img{
  width: 100%;

}

h2{
  color:#fd0f0f;
  text-align: center;
}

.product-content{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

product-1{
  background-color:#2a223a ;
  border-radius: 100px;
  }


.product-txt{
  padding:50px 30px;

}

h3{
  border-radius: 20%;
  text-align: center;
  background-color:#fd0f0f ;
  border: #fd0f0f;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}

.price{
    display: flex;
  justify-content: space-between;
  align-items: center;

}

.price p{  
  font-size: 17px;
  color: #ff5a2c ;
}

.btn-2{
  border-radius: 20%;
  padding: 5px 25px;
  background-color: #ff5a2c;
  margin-right: 0;
}

.contact{
  padding: 150px 300px;

}

.contact-content{
 background-color: #2a223a; 
 text-align: center;
 border-radius: 50px;
 padding: 50px;
}

  
 
  body {      
    text-transform:uppercase ;  
    background-size:cover;
    padding: top 20px;;
    background:url(IMG/889326.jpg);
    background-position:center center;  
    background-repeat: no repeat;
    background-attachment: fixed;
    
  } 
  
  form {
    width: 30%;
    margin: 0 auto;
    border-radius: 50px;
    background: url(IMG/889326.jpg)no-repeat 0px 0px;
    background-size:cover;
    background-position: center;
    padding: 30px 33px 67px;
  }
  

   input[type="submit"]{
   background: blue;
      }
   
input[type="text"],input[type="number"]{
  background: #0f27fd; 
  
}

 p {
  
  color: rgb(187, 18, 18);
  background-position: center; 
  
}
    
a  {
  color:rgb(241, 232, 232);
  text-align: right;
  font-size: 15px;
  
}


label {
  display: block;
  margin-bottom: 8px;
  color: rgb(178, 34, 34);
}

input {
  width: 30%;
  padding:  5px,5px;
  margin-bottom: 25px;
}

button {
  display: flex;
  background-color:#fd0f0f;
  margin-top:30px;
  padding: 10px 10px;
  border:none ;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background-color: blue;  
  
}

.error {
  color: red;
  margin-top: 10px;
}

.exito {
  color: rgb(13, 0, 128);
  margin-top: 10px;
}

