
  h1{
    color:#fd0f0f;
    text-shadow: 1px 2px 2px blue 0 0 25px black 0 0 5px black;
    text-align: center;
  }

  div.galeria{
    margin: 10 px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0,0,0,0.19);
    float: left;
    width:60px;    
  }  

  div.galeria{
    width: 20%;
    height: auto;
  }

 div.galeria:hover{
  border: 1px solid lightblue;
  transform:rotate(-3deg);
  }

  div.pie{
    text-align: center;
    text-shadow:2px 2px 5px blue ;
    padding: 10px;
  }
 
  body {      
    text-transform:uppercase ;  
    background-size:cover;
    padding: top 200px;;
    background:url(IMG/889326.jpg);
    background-position:center center;  
    background-repeat: no repeat;
    background-attachment: fixed;
  } 
  
  

   input[type="submit"]{
   background: blue;
      }
   
input[type="text"],input[type="number"]{
  background: #0f27fd; 
  
}

 p {
  
  color: rgb(187, 18, 18);
  background-position: center; 
  
}
    
a  {
  color:rgb(241, 232, 232);
  text-align: right;
  font-size: 15px;
  
}


form {
  width: 20%;
  margin: 0 auto;
  border-radius: 50px;
  background: url(IMG/889326.jpg)no-repeat 0px 0px;
  background-size:cover;
  background-position: center;
  padding: 30px 33px 67px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: rgb(178, 34, 34);
}

input {
  width: 30%;
  padding:  5px,5px;
  margin-bottom: 25px;
}

button {
  display: flex;
  background-color:#fd0f0f;
  margin-top:30px;
  padding: 10px 10px;
  border:none ;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background-color: blue;  
  
}

.error {
  color: red;
  margin-top: 10px;
}

.exito {
  color: rgb(13, 0, 128);
  margin-top: 10px;
}

